img  {
width: 400px;
border-style: groove;
border-width: 7px;
border-color: blue;
margin-left: 25%;
border-radius: 100px;
}
body {
  background-color:beige;
}
h1 {
  font-family: 'Times New Roman', Times, serif;
  font-style: italic;
  color: brown;
  padding-left: 20;
  padding-right: 20;
  padding-top: 10;
  padding-bottom: 10;
  margin-left: 35%;

}
h2{
  font-family: Times New Roman;
  font-style: italic;
  color: blue;
}
h3 {
  font-family: Times New Roman;
  font-style: italic;
  width: 25%;
}
#cap {
    
    font-size: 20px;
    margin-left: 25%;
    
}
ul {
    background-color: cadetblue;
}
#p1 {border-top-style: dashed;
    border-color: springgreen;
    border-bottom-style: dotted;
    border-width: 5px;
    border-radius: 10px;
    color: navy;
    text-align: center;
}
nav{text-align: center;}

div{
    border-radius: 5px;
    border-width: 5px;
}

.title{
    font-size: 25px;
    line-height: 20px;
    color: plum;
    font-family: monospace;
    padding: 4px;
    margin-left:6px
}
